@import url(../../../../../styles/Dimension.less);
@import url(../../../../../styles/Colors.less);
@import url(../../../../../styles/Fonts.less);

.container {
  flex: 1;
  padding-top: @marginMedium;
  padding-bottom: @marginMedium;
  background-color: @white;
  border-radius: @radiusSmall;
  // border-radius: 5px;
}
.head {
  flex-direction: "row";
  justify-content: "space-between";
  padding-bottom: 15;
}
.title {
  flex: 1;
  flex-direction: row;
  align-items: "center";
}

.chartStyle {
  flex: 1;
  // height: 250;
  margin: "auto";
}
.chartLineWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150;
  margin-bottom: @marginMedium;
}
.leftWrapper {
  flex: 2;
  display: flex;
}
.rightWrapper {
  flex: 3;
  margin-left: 5;
}
.chartDataItemWrapper {
  background-color: #F9FBFD;
  // height: 58;
  // paddingHorizontal: 9;
  // paddingVertical: 8;
  margin-bottom: 9px;
}
.chartDataItemHeader {
  color: #2A304B;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
}
.statusIcon {
  width: 10px;
  height: 10px;
  // backgroundColor: "red";
  border-radius: 2px;
  margin-right: 5px;
}
.itemHeaderTitle {
  font-weight: 500;
}
.chartDataItemValueLine {
  margin-top: 18;
  margin-left: 15;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.chartDataItemValueItem {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chartDataItemValueItemText {
  font-weight: 500;
  font-size: 14;
}
.chartDataItemValueItemUnit {
  font-size: 12;
  margin-left: 4;
  // font-weight: "";
  color: #AAACB7;
}
